<h2>Contact Us</h2>

<dl>
  <dt>Email</dt>
  <dd>acm@ucsb.edu</dd>
  <dt>Phone</dt>
  <dd>(805) 123-4567</dd>
</dl>

<dl>
<%= form_tag '' do %>
  <dt><%= label_tag 'Leave a comment' %></dt>
  <dd><%= text_area(:application, :notes, :cols => 50, :rows => 10, :class => 'app_input') %></dd>
  <dt><%= submit_tag 'Submit' %></dt>
<% end %>
</dl>
