<div class="post">
	<h3>This one is not actually filler text</h3>
	<p class="postTimestamp">7 November 2011</p>
	<p>The crazy colors are temporary. Don't panic. I find that it helps me visualize page structure better while I'm working, so I hope that works for everybody else. The temporary styles can be easily commented out in the top of static.css.scss if it freaks you out. I'll do my best to comment the CSS so other people have a starting point if they want to contribute or add something! I hardly write perfect code, so if you think something should be different or more optimized or whatever, have at it :) -Andrew</p>
</div>


<div class="post">
	<h3>I use Hipster Ipsum only to be ironic</h3>
	<p class="postTimestamp">7 November 2011</p>
	<p>Marfa pitchfork master cleanse sustainable, vegan photo booth yr craft beer stumptown wayfarers butcher freegan tattooed hoodie readymade. Scenester craft beer brooklyn, helvetica tattooed quinoa four loko banksy terry richardson +1 farm-to-table. Biodiesel vice organic beard pitchfork wolf. Ethical art party high life, tumblr marfa lomo pitchfork messenger bag williamsburg jean shorts wolf farm-to-table. Photo booth lomo keytar keffiyeh, letterpress master cleanse tattooed williamsburg bicycle rights whatever salvia messenger bag food truck. Ethical gluten-free wayfarers, DIY organic thundercats mixtape fanny pack pitchfork lomo beard aesthetic. Beard blog portland, helvetica thundercats craft beer leggings brunch trust fund 8-bit vinyl cred next level vegan.</p>
</div>
