<div class="post">
	<h3>Colors Chosen, however more work needs to be done</h3>
	<p class="postTimestamp">29 January 2012</p>
	<p>So far all the colors have been chosen for this webpage. What we need to do is to add more features to the front end intergrate it with the back end. 
</p>
</div>


<div class="post">
	<h3>What I like about this</h3>
	<p class="postTimestamp">29 January 2012</p>
	<p>All the colors are awesome.</p>
</div>
