// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---------- LIB COLORS
// You can see these together at colorschemedesigner.com.
// Enter 21297c in the RGB section.

$blue: #21297C; // Main UCSB blue
$background: #ccc; //#2A2F5D; //Subdued blue for background
$dark_blue: #0b1151;
$light_blue: #555fbe;
$baby_blue: #7178be; // You're probably a bad person for using this color
$gold: #F6B118; // Main UCSB gold

//---------- TEMPORARY DEV STYLES

//*          { border: none !important;  } // ULTRA GHETTO TEMPORARY RULE I CHOOSE YOU!
body       { background-color: $background; }
#container { background-color: red; }
#header    { background-color: $gold; }
#nav       { background-color: green; }
#content   { background-color: $light_blue; }
.post      { background-color: #F9F9F9; }
#timeline  { background-color: $dark_blue; }
.event     { background-color: yellow; }
.eventText { background-color: red; }
.field     { background-color: #0FC; }

//---------- END TEMPORARY DEV

html {
  // Why is this here?
  overflow-y: scroll;
}

#title {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
}

#container {
  margin: 0 auto;
  overflow: hidden;
  //padding: 0 30px;
  text-align: left;
  width: 960px; //720px
}

#header {
  overflow: auto;
  padding: 10px 0 0; //10px 30px 0

  a {
    color: red;
    text-decoration: none;
  }
}

#nav {
  overflow: hidden;
  border-top: 1px solid #aaa;

  li {
    margin: 10px;

    a {
      background-color: #5EC4F0;
      display: block;
      float: left;
      margin-right: 10px;
      padding: 3px 7px;

      &:hover {
        background-color: orange;
      }
    }
  }
}

#timeline {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px 0;

  .event {
    float: left;
    margin-left: 25px;
    //overflow: auto;
    width: 400px;

    a {
      background-color: #0fc; // PLACEHOLDER FOR ACTUAL IMAGE
      display: block;
      float: left;
      height: 150px;
      width: 225px;
    }

    .eventText {
      float: left;
      width: 175px;

      h4, p {
        float: left;
        margin-left: 10px;
      }

      .eventTime {
        // I put eventTime in its own class so that we could do something like
        // indenting the date to the right of the event title and maybe
        // make it a subdued gray or something. Just an idea.
        margin-left: 15px;
      }
    }
  }
}

#content {
  min-height: 400px;
  overflow: auto;
  padding: 10px;

  p {
    margin: 10px 0;
  }
}

#main {
  float: left;
  width: 600px;
}

.post {
  $border: #F00;

  //border: 1px solid $border;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;

  h3 {
    background-color: #CCC;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid $border;
    padding: 5px;
  }

  p {
    padding: 5px;
    padding-top: 0;

    &.postTimestamp {
      padding: 0;
      position: absolute;
        top: -5px;
        right: 5px;
    }
  }
}


#ticker {
  background-color: red;
  float: right;
  margin: 0;
  padding: 0;
  //min-height: 400px;
  width: 320px;

  h3 {
    //background-color: #CCC;
    border-bottom: 1px solid orange;
    margin-bottom: 15px;
    padding-left: 5px;
  }

  .tickerPost {
    background-color: white;
    border: 1px solid blue;
    padding-left: 5px;
  }
}

#footer {
  padding: 5px 0;
  color: white;
  text-align: center;
}
